html {
  font-size: 15px;
  box-sizing: border-box;
}
body {
  font: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  color: #5a6169;
  font-weight: 300;
  margin: 0;
  background-color: #fff;
}
button {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
  box-shadow: none;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  border: 1px solid transparent;
  padding: 0.5625rem 1rem;
  font-size: 1rem;
  line-height: 1.125;
  border-radius: 0.25rem;
}
.full-width {
  width: 100%;
}
#root {
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header {
  grid-area: header;
  background-color: #f5f6f8;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
}
.brand a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.header-links a {
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
}
.header-links a:hover {
  color: #0056b3;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  font: 1.25rem;
  color: #3d5170 !important;
  text-decoration: none;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.75rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  color: #3d5170;
}

h1,
.h1 {
  font-size: 3.052rem;
  letter-spacing: -0.0625rem;
  line-height: 3rem;
}

h2,
.h2 {
  font-size: 2.441rem;
  letter-spacing: -0.0625rem;
  line-height: 2.25rem;
}

h3,
.h3 {
  font-size: 1.953rem;
  line-height: 2.25rem;
}

h4,
.h4 {
  font-size: 1.563rem;
  line-height: 2rem;
}

h5,
.h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h6,
.h6 {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Home Screen */
.resources-header {
  margin: 0px 0px 0px 15px;
}

.resources {
  clear: both;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  margin: 100px 0px 0px 10px;
}
.resources li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 12rem;
  margin: 1rem 0 0 0;
  height: 300px;
  border-bottom: 0.1rem;
}

.resource-cards {
  margin: 0px 20px 0px 20px;
  width: 280px;
  height: 340px;
  padding: 0px;
}

.resource {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}
.resource-name {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  width: 280px;
  box-sizing: border-box;
}
.resource-brand {
  color: #808080;
  text-align: left;
  box-sizing: border-box;
}
.resource-price {
  font-weight: bold;
  float: right;
  text-align: left;
}
.resource-image {
  position: relative;
  height: 200px;
  width: 250px;
  /* min-width: 10.3125rem;
 max-width: 10.3125rem;
 min-height: 10.3125rem;
 max-height: 10.3125rem; */
  border-radius: 0.625rem;
  vertical-align: middle;
  margin: 0 auto;
}
.resource-rating {
  margin-bottom: 0px 0px 0px 0px;
}

.resource-bottom {
  font-size: 13px;
  width: 260px;
  margin: 0 14px 0 15px;
}
.resource-views {
  display: relative;
  float: left;
}
.resource-loc {
  display: relative;
  float: right;
}

/* Reviews */
.reviewscard {
  margin: 500px;
}
ul.review {
  list-style-type: none;
  padding: 0;
}
.review li {
  margin: 1rem;
  margin-bottom: 2rem;
}
.review li > div {
  margin: 0.5rem;
}

/* Rating */
.rating span {
  color: #007bff;
  font-size: 0.8rem;
  margin: 0 0 0 0;
}
.rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}
a > .rating > span:last-child {
  color: #000007;
}

/* Sidebar */

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}
.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}

/* resource Details */
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}
.details-image {
  /* flex: 2 1 4rem;   */
  margin: 0px 25px 0px 25px;
}
.details-image img {
  position: relative;
  min-width: 30.3125rem;
  max-width: 30.3125rem;
  min-height: 30.3125rem;
  max-height: 30.3125rem;
  border-top-left-radius: 1.625rem;
  border-top-right-radius: 1.625rem;
  border-bottom-left-radius: 1.625rem;
  border-bottom-right-radius: 1.625rem;
  vertical-align: middle;
}
.details-info {
  flex: 1 1 5rem;
}
.details-action {
  flex: 1 1 0.5rem;
  margin: 10px;
  font-size: 0.9rem;
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}
.details-info li,
.details-action li {
  margin-bottom: 1rem;
}
.back-to-result {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  box-sizing: border-box;
}
.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}
.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #404040 solid;
}
.button.primary {
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  border: 0.1rem #c0c0c0 solid;
  padding: 0.5625rem 1rem;
  font-size: 1rem;
  line-height: 1.125;
  border-radius: 0.25rem;
  -webkit-transition: all 0.25s cubic-bezier(0.27, 0.01, 0.38, 1.06);
  transition: all 0.25s cubic-bezier(0.27, 0.01, 0.38, 1.06);
}
.button.secondary {
  background-color: #f0f0f0;
}
.text-center {
  text-align: center;
}
/* Cart */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}
.cart-list {
  flex: 3 1 60rem;
}
.cart-action {
  flex: 1 1 20rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
}
.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}
.cart-list-container li {
  display: flex;
  justify-content: space-between;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}
.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cart-image {
  flex: 1 1;
}
.cart-image img {
  position: relative;
  min-width: 10.3125rem;
  max-width: 10.3125rem;
  min-height: 10.3125rem;
  max-height: 10.3125rem;
  padding-right: 2rem;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  vertical-align: middle;
}

.cart-name {
  flex: 8 1;
}
.cart-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

/* forms */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 0rem;
  border: 0rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 12px;
}

.google-location {
  margin: 6px 0px 0px 70px;
}

.comment-text {
  height: 100px;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}
select {
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  border: 0.1rem #c0c0c0 solid;
  padding: 0.5625rem 1rem;
  font-size: 1rem;
  line-height: 1.125;
  border-radius: 0.25rem;
  -webkit-transition: all 0.25s cubic-bezier(0.27, 0.01, 0.38, 1.06);
  transition: all 0.25s cubic-bezier(0.27, 0.01, 0.38, 1.06);
}

/* resources */

.resource-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined {
  margin: 1rem;
}

.table {
  width: 100%;
}
.table th {
  text-align: left;
}
.table tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}

/* Checkout Steps */

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}
.checkout-steps > div.active {
  border-top: 0.3rem #007bff solid;
  color: #007bff;
}

/* Place Order */

.placeorder {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.placeorder-info {
  flex: 3 1 60rem;
}
.placeorder-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}
.placeorder-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}
.placeorder-info > div:first-child {
  margin-top: 0;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child {
  font-size: 2rem;
  font-weight: bold;
  color: #007bff;
}
.placeorder-actions-payment > div {
  width: 100%;
}

/* Profile */

.profile {
  display: flex;
  flex-wrap: wrap;
}

.profile-info {
  flex: 1 1 30rem;
}
.profile-orders {
  flex: 3 1 60rem;
}

/* admin */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: #d8d8d8;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 10px;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* filter */
.search-sort {
  display: block;
}
.filter {
  float: left;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 1rem 0 0 10px;
  max-width: 45rem;
  justify-content: space-between;
  align-items: center;
}
.filter input {
  border-radius: 25px;
  width: 300px;
  height: 20px;
}
.filter button {
  border-radius: 10px;
  margin-left: 10px;
  width: 100px;
  /* width: 100px;
  height: 20px; */
}
.filter select {
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  border: 0.1rem #c0c0c0 solid;
  padding: 0.5625rem 1rem;
  font-size: 1rem;
  line-height: 1.125;
  border-radius: 0.25rem;
  -webkit-transition: all 0.25s cubic-bezier(0.27, 0.01, 0.38, 1.06);
  transition: all 0.25s cubic-bezier(0.27, 0.01, 0.38, 1.06);
}
.categories {
  padding: 0;
  list-style-type: none;
}
.categories a {
  display: flex;
  padding: 1rem;
}

.categories a:hover {
  background-color: #c0c0c0;
}

.sort {
  float: right;
  margin-right: 30px;
}
